@use "../helpers" as *;

.bordered-grid {
  --columns: 1;
  --itemPaddingY: #{fluid(80, 40)};

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  height: 100%;

  &--cols-2 {
    --columns: 2;
  }

  &--cols-3 {
    --itemPaddingX: #{rem(50)};
    --columns: 3;

    @include laptop {
      --itemPaddingX: #{rem(40)};
    }

    @include tablet-above {
      .bordered-grid__item {
        // Элементы в 1-ой и 2-ой колонке

        &:nth-child(3n - 2),
        &:nth-child(3n - 1) {
          padding-right: var(--itemPaddingX);
          border-right: var(--border);
        }

        //   Элементы во 2-ой колонке

        &:nth-child(3n - 1) {
          @include full-vw-centered-line(bottom);
        }

        // Элементы в 2-ой и 3-й колонке

        &:nth-child(3n - 1),
        &:nth-child(3n) {
          padding-left: var(--itemPaddingX);
        }
      }
    }

    @include tablet {
      --columns: 1;

      .bordered-grid__item:not(:last-child) {
        border-bottom: var(--border);
      }
    }
  }

  &__item {
    padding-block: var(--itemPaddingY);
  }
}
