@use "../helpers" as *;

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(40);
  height: 100%;
  margin-inline: auto;
  max-width: rem(500);

  @include laptop {
    row-gap: rem(30);
  }

  &__author {
    --imageSize: #{rem(60)};
    flex-shrink: 0;

    @include laptop {
      --imageSize: #{rem(50)};
    }
  }

  &__body {
    position: relative;
    padding: fluid(30, 20);
    padding-top: fluid(50, 30);
    color: var(--color-light);
    text-align: center;
    flex: 1;
    width: 100%; 
  }

  &__rating-view {
    @include abs-center;

    top: 0;
    flex-shrink: 0;
  }
}
